div.clappr-player[data-player]#wp3-player-0 {
  .videos-offer-end-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;

    pointer-events: none;
    opacity: 0;

    &--visible {
      transition: opacity;
      transition-duration: 2s;
      pointer-events: all;
      opacity: 1;
    }

    &__background {
      z-index: 100;

      width: 100%;
      height: 100%;
      position: absolute;

      &:before {
        content: '';
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
      }
    }

    &__content-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      width: 100%;
      height: 100%;
    }

    &__header {
      display: block;
      margin-top: 5%;
      margin-bottom: 5%;
      text-transform: uppercase;

      font-family: 'GloboFutura', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: calc(1.9021739130434785vw + 10.391304347826088px);
    }

    &__track {
      display: flex;
      align-self: center;
      justify-content: space-around;
      width: 80%;
    }

    &__item {
      display: none;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      text-align: left;
      color: white;
      width: 100%;

      &:nth-child(1) {
        display: flex;
      }
    }

    &__thumbnail {
      position: relative;
      display: flex;
      width: 32%;

      img {
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        padding: 0.1em 0.45em;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: calc(1.11vw + 9.42px);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 68%;
      padding: 2px 0 2px 5%;
    }

    &__program-title {
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 1%;
      color: #AAA;

      font-family: 'GloboFutura', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: calc(1.42vw + 7.42px);
    }

    &__title {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 3.3vw;

      line-height: 4.7vw;
      max-height: 9.4vw;
      overflow: hidden;
    }

    &__footer {
      display: flex;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #c4c4c4;
      margin-top: 2%;

      font-family: 'GloboFutura', Arial, Helvetica, sans-serif;
      font-weight: 500;

      font-size: calc(1.90vw + 9px);

      svg {
        fill: #c4c4c4;
        transform: rotateY(180deg);
        margin-right: calc(1.63vw + 4.47px);
        width: 0.8em;
        overflow: visible !important;
      }

      span {
        height: 100%;
      }
    }

    &__replay {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      &__item {
        flex-direction: column;
        width: 29.5%;

        &:nth-child(2) {
          display: flex;
        }

        &:nth-child(3) {
          display: flex;
        }
      }

      &__header {
        margin-top: 3%;
      }

      &__thumbnail {
        width: 100%;

        span {
          font-size: calc(1.17vw + 5px);
        }
      }

      &__info {
        width: 100%;
        padding: 4px 0 0 0;
      }

      &__program-title {
        font-size: 1.9vw;
        margin: 0.5vw 0 0.4vw 0;
      }

      &__title {
        font-size: 2vw;
        line-height: 2.8vw;
        max-height: 5.6vw;
      }

      &__footer {
        font-size: 21px;
        margin-top: 5%;

        svg {
          margin-right: 18%;
        }
      }

    }

    @media screen and (min-width: 1024px) {
      &__header {
        font-size: calc(0.8928571428571428vw + 8.857142857142858px);
      }

      &__program-title {
        font-size: 0.8rem;
        margin: 0.4rem 0 0.2rem 0;
      }

      &__title {
        font-size: 0.85rem;
        line-height: 1.3rem;
        max-height: 2.6rem;
      }

      &__footer {
        font-size: calc(0.44vw + 11.42px);
        margin-top: 3%;
      }

      &__thumbnail {
        span {
          font-size: calc(0.11160714285714285vw + 11.857142857142858px);
        }
      }
    }

    @media screen and (min-width: 1200px) {
      &__item {
        flex-direction: column;
        width: 21.5%;

        &:nth-child(4) {
          display: flex;
        }
      }

      &__header {
        margin-top: calc(2.5vw + 20px);
      }

      &__title {
        font-size: calc(0.138vw + 11.33px);
        line-height: calc(0.41vw + 13px);
        max-height: calc((0.41vw + 13px) * 3);
      }

      &__footer {
        margin-top: calc(3.055vw + 3.33px);
      }
    }

    @media screen and (min-width: 1920px) {
      &__header {
        font-size: 26px;
        margin-top: 68px;
      }

      &__title {
        font-size: 14px;
        line-height: 21px;
        max-height: 63px;
      }

      &__footer {
        font-size: 20px;
        margin-top: 62px;
      }

      &__thumbnail {
        span {
          font-size: 14px;
        }
      }
    }
  }
}
