.player-issue-report {
  width: 30px;
  height: 30px;
}

.issue-report__title{
  margin-bottom: 20px !important;
}

.issue-report__button{
  margin-top: 20px !important;
}
.issue-report__container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#issue-report-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;

}

.issue-report__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

.issue-report__item{
  margin-bottom: 10px;
}
